.calculator {
  width: 36rem;
}

.result {
  float: right;
  margin: auto 0;
  color: white;
}

.resultview {
  padding: 8px;
  background-color: #858694;
}

.btn_number {
  padding: 20px;
  background-color: #e0e0e0;
  border-bottom: #d1d1d1 3px solid;
  border-right: #d1d1d1 3px solid;
}

.function {
  padding: 20px;
  background-color: #f5913f;
  border-bottom: #d1d1d1 3px solid;
}
